/* *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 75vw;
    
}

.container .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.carousel{
    width: 100%; 
    overflow-x: auto;
    white-space: nowrap;
} */

.arrow_container{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.carrusel_container {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
  
  }
  
  .carrusel {
    display: flex;
    overflow: hidden;
    transition: all 0.3s ease;
    justify-content: center;
    
  }

  .left_arrow{
    cursor: pointer;
    margin-right: 10px;
  }
  
  .right_arrow {
    margin-left: 10px;
    cursor: pointer;
  }

  .desable {
    cursor: not-allowed;
    opacity: 0.5;
}



  @media (max-width: 768px) {
    .card {
      flex: 0 0 100%; /* Muestra una sola tarjeta en dispositivos móviles */
      margin: 0; /* Elimina el margen en dispositivos móviles */
    }
  }